fastapi==0.98.0
fillpdf==0.7.2
firebase_admin==6.2.0
opencv_python==4.8.0.74
pdf2image==1.16.3
pdfplumber==0.9.0
pydantic
pymongo==4.4.0
pytesseract==0.3.10
Requests==2.31.0
scikit_learn==1.3.0
transformers==4.30.2
uvicorn==0.22.0
keras
tensorflow
nltk
torch
torchvision
torchaudio
python-multipart
pandas
keras_preprocessing
langdetect
pycryptodome
xformers
docx2pdf